.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 70px;
    background-color: #1c5da2;
    color: rgb(189, 165, 13);
    text-align: left;
    z-index: 2;
}

.navbar h1{
    margin-left: 30px;
}

@media screen and (max-width: 767px) {
    .navbar h1{
        margin: 0;
        text-align: center;
        margin-top: 20px;
    }
}